{%extends 'pictures/base.html'%}
{% block content %}
{% load static %}

{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/filter.css' %}">

<div class="container">
  <div class="row">
    {% if searched %}
      <h2>Found {{ searched|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if searched%}
    {% for searched in searched %}
      <div class="col-sm-6 col-md-4">
          <h1>{{searched.title}}</h1>
              <div class="image">
    <img src=" {{searched.image_url.url}}" width="300" height="200" >
</div>
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}