{%extends 'pictures/base.html'%}
{% block content %}
{% load static %}
{{ block.super}}

<div class="container">
    <marquee scrollamount="10"><h3 style="color:red">Please search only the words labelled above in lowercase</h3></marquee>
<body>

<div class="row">
  {% for image in image %}

    <div class="col-md-4">
        <br>
<div class="image">
        <a href="image/{{image.id}}" ><img src=" {{image.image_url.url}}" class="img-responsive" alt="Image" width="300" height="200" ></a>
</div>
        <p>{{image.title}}</p>
        Posted:<div class="badge badge-success">{{image.pub_date|timesince}}</div> ago
    </div>

  {% endfor %}
</div>
</body>
</div>

{% endblock %}