{%extends 'pictures/base.html'%}
{% block content %}
{% load static %}
{{ block.super}}

<div class="container">
<body>

<div class="row">
  {% for image in image %}

    <div class="col-md-4">
        <br>
<div class="image">
        <a href="image/{{image.id}}" ><img src=" {{image.image_url.url}}" class="img-responsive" alt="Image" width="300" height="200" ></a>
</div>
        <p>{{image.title}}</p>
        {{image.pub_date|timesince}} ago
    </div>

  {% endfor %}
</div>
</body>
</div>

{% endblock %}