{%extends 'pictures/base.html'%}
{% block content %}
{% load static %}

{{ block.super}}
<link rel="stylesheet" type="text/css" href="{% static 'css/imageid.css' %}">
<div class="container">
<div class="row">
    <div class="col-md-12 ">
<div class="image">
    <img src=" {{imageid.image_url.url}}" >
</div>
        <br>
        <div class="details">
Location:<a href="{% url  'location' %}">{{imageid.location}}</a>
      <h5>Description</h5>
<p>{{imageid.description}}</p>
        </div>
    </div>
</div>
</div>

{% endblock %}