{%extends 'pictures/base.html'%}
{% block content %}
<div class="container">

  <div class="row">
    {% if searched %}
      <h2>Found {{ searched|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found 0 images for the search term {{message}}</h2>
    {% endif %}

  </div>

  <div class="row">

  {% if searched%}
    {% for searched in searched %}
      <div class="col-sm-6 col-md-3">
          <h1>{{searched.title}}</h1>
         <img src="{{searched.image_url.url}}" class="img-responsive" >
      </div>
    {% endfor %}
  {% endif %}
  </div>
</div>
{% endblock %}